
.body-container {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 5%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo-container{
    width: 100%;
}

.logo-container img{
    width: 80%;
}

.input-container{
    width: 100%;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 92%;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.button {
    padding: 10px 20px;
    background-color: #212529;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .button:hover {
    background-color: #343a40;
  }

  .button:active {
    background-color: #343a40;
  }

.registration-button {
    text-decoration: none;
    color: #d7384a;
    cursor: pointer;
}

.verification-alert {
    margin-top: 5px;
    margin-bottom: 15px;
    color: #d7384a;
}
